/* ./src/index.css */

@tailwind components;
@tailwind utilities;



.Main {
        
        justify-content: space-between;
        align-items: center;
        margin-top: 75px;
    
    }

.HeroParent  {
    display: flex;
    justify-content: space-between;
    align-items: center;

}

.HeroParent .HeroLeft {
    margin: 50px;

}

.HeroParent .HeroRight {
    margin: 50px;

}

.HeroParent .HeroRight .holidayhero {
    border-radius: 25px;
    width: 1000px;
    
}

.HeroParent .HeroLeft .herotext1 {
    margin-bottom: 20px;
    font-size: 4rem;
    color: #72a9a4;

}

.HeroParent .HeroLeft .herotext2 {
    font-size: 15rem;
    margin-bottom: 20px;
    color: #3e3342;
}

.HeroParent .HeroLeft .herotext3 {
    margin-bottom: 20px;
    width: 550px;
    font-size: 3rem;
    font-weight: bold;
    line-height: 100%;
}

 .herobuttons{
    display: flex;
    margin-bottom: 25px;
    height: 50px;

    
}

.HeroParent .HeroLeft .herotrust {
    margin-top: 25px;
    width: 200px;
}

.travelcomp {

     margin: 50px;
     text-align: center;
     margin-bottom: 200px;


}

.travelcomp  .travelcomptitle {
    font-size: 10rem;
    margin-bottom: 20px;
    color: #3e3342;
    

}


.travelcomp .travelcompicons {
 display: flex;
 text-align: center;
 justify-content: space-between;
 align-items: center;


}

.travelcomp .travelcompicons h1{
    font-size: 30px;
    margin-bottom: 20px;
    

}

.travelcomp .travelcompicons p1{
    font-size: 22px;
    color:grey;
  
   

}
.inner-travel-txt {
  
    width: 250px;
    text-align: center;
    margin: auto;
  
   
}
 
.inner-travel-img {
    display: flex;
    height: 300px;
    width: 300px;
    align-items: center;
    justify-content: center;
}

.inner-travel-img img {
    height: 220px;
}

.about {
    display: flex;
    margin: 50px;
    justify-content: space-between;
    align-items: center;
    
  

}
.about .about-left {
    margin-left: 25px;
   
}

.about .about-right {



}

.about img {
    width: 750px;
  
}
.about-text-1 {
    font-size: 5rem;
    color:grey;
    margin-bottom: 30px;
    width: 800px;
}
.about-text-2 {
    font-size: 10rem;
    color: #3e3342;
    margin-bottom: 30px;
    width: 800px;
    
}

.about-text-3 {
    font-size: 4rem;
    color:grey;
    margin-bottom: 30px;
    width: 800px;


}