.logo-image{
   justify-self: start;
   margin-left: 3rem;
   cursor: pointer;
}

.helogo {
width: 500px;
}

.NavBarItems {
    margin-top: 50px;
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 12rem;
}

.nav-menu {
  
    display: grid;
    grid-template-columns: repeat(3, auto);
    grid-gap: 10px;
    list-style: none;
    text-align: center;
    width: 80vw;
    justify-content: end;
    margin-right: 2rem;
    color: #f0a290;
}

.nav-links {
color: #de1e40;
text-decoration: none;
padding: 0.5rem 1rem;
font-family: 'Lato', sans-serif;
}

